.combobox {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

#box {
  font-size: 30px;
  padding: 20px;
  color: #1D2348;

  padding: 5px;
  font-size: 25px;
  /*border-color: #98AAAC;*/
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: -5px;
  border-color: #98AAAC;
  background-color: #EEE9E6;
}

#box:focus {
  outline: none;
  border-color: #2D7A88;
}

#options {
  color: #1D2348;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 100px;
  list-style-type: circle;
  height: 10rem;
  overflow-y: scroll;
  width: 100%;
}

#options:hover {
  color: #2D7A88;
}
