.schedule {
    font-family: "Karla", sans-serif; /* Set font-family for the table */
    margin-bottom: 150px; /* Add margin to the bottom */
    margin-left: -25%;
    width: 150%;
    position: inline;
  }

  :root {
    --numDays: 5;
    --numHours: 15;
    --timeHeight: 60px;
    --calBgColor: #D9D9D9;
    --eventBorderColor: none;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
  }
  
  .calendar {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 1fr;
    margin: 2px;
  }
  
  .timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
  }

  .time-marker {
    margin: none;
    font-size: 15px;
  }
  
  .days {
    display: grid;
    grid-column: 2;
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
    padding: 0px;
  }
  
  .start-10 {
    grid-row-start: 2;
  }
  
  .start-12 {
    grid-row-start: 4;
  }
  
  .start-1 {
    grid-row-start: 5;
  }
  
  .start-2 {
    grid-row-start: 6;
  }
  
  .end-12 {
    grid-row-end: 4;
  }
  
  .end-1 {
    grid-row-end: 5;
  }
  
  .end-3 {
    grid-row-end: 7;
  }
  
  .end-4 {
    grid-row-end: 8;
  }
  
  .end-5 {
    grid-row-end: 9;
  }
    
  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 5px;
    margin: 0 0.5rem;
    background: white;
  }
  
  .space,
  .date {
    height: 50px;
  }
    
  body {
    font-family: "Karla", sans-serif;
  }
  
  .corp-fi {
    background: var(--eventColor1);
  }
  
  .ent-law {
    background: var(--eventColor2);
  }
  
  .writing {
    background: var(--eventColor3);
  }
  
  .securities {
    background: var(--eventColor4);
  }
  
  .date {
    display: flex;
    gap: 0;
  }
  
  .date-day {
    display: inline;
    font-size: 25px;
    text-align: center;
  }