.schedule {
    font-family: "Karla", sans-serif; /* Set font-family for the table */
    margin-bottom: 150px; /* Add margin to the bottom */
    margin-left: -25%;
    width: 150%;
    position: inline;
  }

  :root {
    --numDays: 5;
    --numHours: 15;
    --timeHeight: calc(60px / 4);
    --calBgColor: #D9D9D9;
    --eventBorderColor: none;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
  }
  
  .calendar {
    display: grid;
    gap: 0px;
    grid-template-columns: auto 1fr;
    margin: 2px;
  }
  
  .timeline {
    display: grid;
    grid-template-rows: repeat(calc(var(--numHours) * 8), calc(var(--timeHeight) * 4));
  }

  .time-marker {
    margin: none;
    font-size: 15px;
    grid-row: span 2 / span 2;
  }
  
  .days {
    display: grid;
    grid-column: 2;
    gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
  .events {
    display: grid;
    grid-template-rows: repeat(calc(var(--numHours) * 8), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
    padding: 0px;
  }
  
  .start-10 {
    grid-row-start: calc(2 * 8);
  }
  
  .start-12 {
    grid-row-start: calc(4 * 8);
  }
  
  .start-1 {
    grid-row-start: calc(5 * 8);
  }
  
  .start-2 {
    grid-row-start: calc(6 * 8);
  }
  
  .end-12 {
    grid-row-end: calc(4 * 8);
  }
  
  .end-1 {
    grid-row-end: calc(5 * 8);
  }
  
  .end-3 {
    grid-row-end: calc(7 * 8);
  }
  
  .end-4 {
    grid-row-end: calc(8 * 8);
  }
  
  .end-5 {
    grid-row-end: calc(9 * 8);
  }
    
  .title {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    padding: 5px;
    margin: 0 0.5rem;
    background: white;
  }
  
  .space,
  .date {
    height: 50px;
  }
    
  body {
    font-family: "Karla", sans-serif;
  }
  
  .corp-fi {
    background: var(--eventColor1);
  }
  
  .ent-law {
    background: var(--eventColor2);
  }
  
  .writing {
    background: var(--eventColor3);
  }
  
  .securities {
    background: var(--eventColor4);
  }
  
  .date {
    display: flex;
    gap: 0;
  }
  
  .date-day {
    display: inline;
    font-size: 25px;
    text-align: center;
  }
