.ClassTimes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 10px; /* Add some space between elements */
  }
  
  
  .header3 {
    grid-column: 2 / span 1; /* Span 1 column starting from column 2 */
  }

  .header {
    margin-bottom: 10px;
  }

  .paragraph {
    margin-bottom: 10px;
  }
  
  .classTimes {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  table, th, td {
    border-color: #B3BDBE;
    border-style: solid;
    font-size: 15px;
  }
  
  td, th {
    text-align: center;
    padding: 5px;
  }

.ClickableTableCell {
  border-color: none;
  width: 100%;
}

.edit-button {
  padding: 10px;
  font-size: 15px;
  background-color: #2D7A88;
  color: #EEE9E6;
  border: none;
  border-radius: 5px;
}

.edit-button:hover {
  opacity: 70%;
}
