.update {
    display: flex;
    justify-content: center;
  }
  
  .update-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    background-color: #2D7A88;
    color: #EEE9E6;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-button:hover {
    opacity: 70%;
  }
  